<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roy.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.roy.model.User">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <result column="sex" jdbcType="INTEGER" property="sex" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    </resultMap>
    <select id="findUserByUserid" resultMap="BaseResultMap">
        select * from t_user where id = #{id}
    </select>
    <select id="findUserByUserName" resultMap="BaseResultMap">
        select * from t_user where user_name = #{userName}
    </select>
    <insert id="insertUser" parameterType="com.roy.model.User">
        insert into t_user (user_name,password,create_date)
        values ( #{userName,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP})
    </insert>
</mapper>